{% extends 'layout.html.twig' %}

{% block content %}
    <main class="formulaire">
      <!-- FORMULAIRE CONTACT -->
      <section class="form-contact">
        <img src="{{ asset('images/photo/Elite.png') }}" alt="photo de couverture"/>
        <h1>Se connecter</h1>

        {# 1. L'action doit pointer vers la route app_login et la méthode doit être POST #}
<form id="contact-form" action="{{ path('app_login') }}" method="post" novalidate>

    <div class="form-group">
        <label for="username" class="is-required">Email</label>
        <input
            type="email"
            id="username"
            name="_username"
            value="{{ last_username }}"
            required
            placeholder="exemple@mail.fr"
        />
        <span class="error">{% if error %} Identifiants invalides {% endif %}</span>
    </div>

    <div class="form-group">
        <label for="password" class="is-required">Mot de passe</label>
        <input
            type="password"
            id="password"
            name="_password"
            required
            placeholder="Entrez votre mot de passe"
        />
        <span class="error">{% if error %} Mot de passe invalides {% endif %}</span>
    </div>

    <p class="obligatoire-txt">Tous les champs suivis d'une * sont obligatoires</p>

    {# 3. LE JETON DE SÉCURITÉ (Indispensable pour que Symfony accepte le formulaire) #}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button type="submit" class="btn-primary">Me connecter</button>

    <p>Vous n'avez pas de compte ?<a href="{{ path('app_register') }}"> Cliquez ici </a> pour vous inscrire !</p>
</form>
      </section>
    </main>
{% endblock %}