{% extends 'layout.html.twig' %}

{% block content %}
	<main class="formulaire">
		<section class="form-contact">
			<img src="{{ asset('images/photo/Elite.png') }}" alt="photo de couverture"/>
			<h1>Réserver un workshop</h1>

			<form
				id="contact-form" action="{{ path('app_reservation_submit') }}" method="POST">
				{# 1. SELECT CATÉGORIE #}
				<div>
					<label for="categorie">Catégorie</label>
					<select id="categorie" name="categorie" class="form-control">
						<option value="" selected disabled>Choisir une catégorie...</option>
						{% for type in types %}
							<option value="{{ type.id }}">{{ type.name }}</option>
						{% endfor %}
					</select>
				</div>

				{# 2. SELECT DISCIPLINE (Cours) #}
				<div>
					<label for="choix-sport">Cours</label>
					<select id="choix-sport" name="nom_cours" disabled>
						<option value="">Choisir une discipline...</option>
					</select>
				</div>

				{# 3. SELECT DATE ET HEURE #}
				<div>
					<label for="cours">Date et heure</label>
					<select id="cours" name="workshop_id" disabled>
						<option value="">Date et heure</option>
					</select>
				</div>

				<button type="submit" class="btn-primary" id="submit-btn" disabled>S'inscrire</button>
			</form>
		</section>
	</main>

	{# PASSAGE DES DONNÉES AU JS #}
	<script>
    // On prépare les données proprement en PHP avant de les envoyer
    const allWorkshops = [
        {% for workshop in workshops %}
            {
                "id": {{ workshop.id }},
                "typeId": {{ workshop.workshopType.id }},
                "name": {{ workshop.nameClass|json_encode|raw }},
                "label": "{% if workshop.dayClass == 'Sur RDV' %}Sur RDV{% else %}{{ workshop.dayClass }} à {{ workshop.startTime|date('H:i') }}{% endif %} ({{ workshop.maxCapacity - workshop.reservations|length }} places)"
            },
        {% endfor %}
    ];
</script>
{% endblock %}
