{% extends 'layout.html.twig' %}

{% block content %}

	<main class="prix">
		<h1>Les abonnements</h1>

		<article
			class="parent">
			{% for abo in abonnements %}
				<article class="container-tarifs">
					<div class="card-tarifs">
						<h2>{{ abo.nameSubscribe }}</h2>
						<p>accès illimité</p>
					</div>
					<div class="avantage">
						<p>{{ abo.amount }}€<span>/mois</span>
						</p>
						<p>Avantages inclus</p>

						{# On découpe la description (Solution B) #}
						{% set liste = abo.description|split(';') %}
						{% for item in liste %}
							{% if item is not empty %}
								<p><img src="{{ asset('images/check-circle-svgrepo-com.svg') }}" alt="check">
									{{ item }}</p>
							{% endif %}
						{% endfor %}
					</div>

					{% if app.user %}
						<a href="{{ path('app_subscribe_confirm', {'id': abo.id}) }}" class="btn-link">
							Choisir
						</a>
					{% else %}
						<a href="{{ path('app_login') }}" class="btn-link">
							Se connecter
						</a>
					{% endif %}
				</article>
			{% endfor %}
		</article>


	</main>
{% endblock %}
