{% extends 'base.html.twig' %}

{% block body %}

	<header>
		<div class="logo">
			<a href="{{ path('app_main') }}">Gym Accord</a>
		</div>

		<nav class="nav" aria-label="Navigation principale">
			<button class="burger-menu" id="burgerMenu" aria-label="Menu">
				<span class="line-burger"></span>
				<span class="line-burger"></span>
				<span class="line-burger"></span>
			</button>

			<div class="menu-drawer">
				<ul class="menu-list">

					<li>
						<a href="{{ path('app_main') }}">accueil
							<img src="{{ asset('images/home-svgrepo-com.svg') }}" alt="maison"/>
						</a>
					</li>

					<li>
						<a href="{{ path('app_coursCo') }}">cours collectifs
							<img src="{{ asset('images/dumbbell-svgrepo-com.svg') }}" alt="haltere"/>
						</a>
					</li>

					<li>
						<a href="{{ path('app_solo') }}">séance individuelle
							<img src="{{ asset('images/run-svgrepo-com.svg') }}" alt="course"/>
						</a>
					</li>

					<li>
						<a href="{{ path('app_calendar') }}">calendrier / planning
							<img src="{{ asset('images/planning-svgrepo-com.svg') }}" alt="calendrier"/>
						</a>
					</li>

					<li>
						<a href="{{ path('app_tarifs') }}">abonnements
							<img src="{{ asset('images/money-bag-svgrepo-com.svg') }}" alt="sac d'argent"/>
						</a>
					</li>

					{% if app.user %}
						<li>
							<a href="{{ path('app_dashboard') }}">dashboard
								<img src="{{ asset('images/user-svgrepo-com.svg') }}" alt="utilisateur"/>
							</a>
						</li>
					{% endif %}

					<li>
						<a href="{{ path('app_a-propos') }}">À propos
							<img src="{{ asset('images/information-data-storage-cloud-file-document-format-svgrepo-com.svg') }}" alt="information"/>
						</a>
					</li>

				</ul>

				<div class="nav-footer">
					{% if app.user %}
						<a href="{{ path('app_logout') }}" class="btn-connect btn-logout">
							DÉCONNEXION
							<img src="{{ asset('images/logout-white(1).svg') }}" alt="logout" class="icon-logout"/>
						</a>
					{% else %}
						<a href="{{ path('app_login') }}" class="btn-connect">
							SE CONNECTER / S'INSCRIRE
							<img src="{{ asset('images/login-bracket-svgrepo-com.svg') }}" alt="login"/>
						</a>
					{% endif %}
				</div>
			</div>
		</nav>
	</header>

	{% block content %}{% endblock %}

	<footer>
		<a href="{{ path('app_main') }}">Gym Accord</a>
		<p>
			L'élite du fitness à votre portée. Rejoignez le mouvement Gym ACCORD dès aujourd'hui.
		</p>

		<div class="social-icons">
			<a href="https://www.instagram.com/" target="_blank">
				<img src="{{ asset('images/insta-svgrepo-com.svg') }}" alt="Instagram"/>
			</a>
			<a href="https://x.com/?lang=fr" target="_blank">
				<img src="{{ asset('images/twitter-svgrepo-com.svg') }}" alt="Twitter"/>
			</a>
			<a href="{{ path('app_main') }}#contact">
				<img src="{{ asset('images/mail-svgrepo-com.svg') }}" alt="Contactez-nous">
			</a>
		</div>

		<div class="link">
			<a href="{{ path('app_mention-legal') }}">Mentions légales</a>
			<a href="{{ path('app_mention-legal') }}">Confidentialité</a>
			<a href="{{ path('app_main') }}#contact">Contact</a>
		</div>

		<p>&copy; GymAccord &mdash; Tous droits réservés &mdash; AV2O</p>
	</footer>


	<div id="confirmModal" class="modal">
		<div class="modal-content">
			<h2>CONFIRMATION</h2>
			<p id="modalText">Voulez-vous vraiment résilier votre forfait ?</p>
			<div class="modal-actions">
				<a id="confirmBtn" href="#" class="btn-gym">OUI</a>
				<button type="button" class="btn-gym btn-gym-outline close-confirm">ANNULER</button>
			</div>
		</div>
	</div>


	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div id="flashModal" class="modal">
				<div class="modal-content border-{{ label }}">
					<span class="close-modal">&times;</span>
					<p>{{ message }}</p>
					<button class="btn-primary btn-gym btn-cancel">OK</button>
				</div>
			</div>
		{% endfor %}
	{% endfor %}

	{# MODALE DE CONNEXION REQUISE (CENTRALISÉE) #}
	<div id="loginRequiredModal" class="modal">
		<div class="modal-content">
			<span class="close-modal">&times;</span>
			<h2>Action requise</h2>
			<p>Vous devez être connecté pour accéder à la réservation.</p>
			<div class="modal-actions">
				<a href="{{ path('app_login') }}" class="btn-gym">SE CONNECTER</a>
				<button type="button" class="btn-gym btn-gym-outline btn-cancel">ANNULER</button>
			</div>
		</div>
	</div>
	
{% endblock %}
